.card{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.card-margin{
margin-top: 70px;
}

.card-title{
  color: azure;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Righteous', cursive;
}

.card-subtitle{
  font-size: 20px;
}

.card-btn{
background: none;
outline: none;
font: inherit;
border-color: gray;
color: azure;
border-radius: 5px;
transition: .25s;
}
.card-btn:hover{
border-color: antiquewhite;
color: rgb(37, 179, 179);
}