.card{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.card-margin{
margin-top: 70px;
}

.card-title{
  color: azure;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}